       body {
            padding: 30px;
            background: #f2f2f2;
        }

        .box {
            background: #fff;
            padding: 25px;
            border-radius: 10px;
            box-shadow: 0 0 10px #ccc;
        }

        .exam-row {
            margin-bottom: 10px;
        }

        .exam-info {
            font-size: 0.95rem;
            color: #555;
        }